div .ui-freebies 
{
    background-image: url(../images/food.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI Light';
}

div .ui-food
{
    background-image: url(../images/background/Food-&-Beverage.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI Light';
}

div .entertmnt 
{
    background-image: url(../images/background/Entertainment.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI Light';
}


div .lifestyle 
{
    background-image: url(../images/background/Shopping.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI Light';
}

.ui-page .category
{
    background-color: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui-page .ui-header
{
    background: #ed1c24;
    height: 80px;
}

.ui-page .ui-header-blk 
{
    
    background: #343434;
    height: 70px;
}

div .ui-content 
{
    background-color: #ed1c24;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;  
}

div .sign 
{
    background-color: #343434; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

center .no-shadow
{
    text-shadow: none;
    height: 5em;
    width: 10em; 
}

.ui-page
{
    height: 90%
}

h2
{
	color: white;
    font-size: 12px;
    font-family: serif;
}

h1 
{
	color: white;
    font-size: 48px;
    font-family: serif;
}

p span
{
	color: white;
    font-size: 12px;
    font-family: 'Segoe UI';
}

center img.ui-display 
{
    height: 5em;
    width: 8em;  
}

center img.display
{
    height: 5em;
    width: 15em;
    border-bottom-color: #ed1c24;
}


center img.ui-big-display
{
    height: 4em;
    width: 6em;
}

div center img.ui-food
{
    height: 4em;
    width: 6em;  
}

center img.show 
{
    height: 4em;
    width: 6em;  
}

center img.ui-life
{
    height: 4em;
    width: 6em;  
}

center h2 
{
    font-size: 16pt;
    font-weight: 900;
    color: white; 
    text-align: center;
}

table
{
    align-self: center;
    margin: auto
}

td
{
    color: #fefefe;
	background-color: #A4A4A4;
    width: 15em;
}



th
{
    text-align: left;
    color: #fefefe;
	background-color: #6E6E6E;
    width: 15em;
}

h1
{
    text-align: center;
}

h1.dialog
{
    color: #fefefe;
}

p
{
    margin:0 auto;
    width:90%;
    color: #fefefe;
}

p.p
{
    text-align: left;
    color: #fefefe
}

label
{
    color: #fefefe
}

legend
{
    color: #fefefe
}
p .spinpool
{
    text-align: left;
    color: #fefefe
}

div .page
{
    height: 100%
}

 .dialog .ui-header 
{
    height : 50px;
}

.dialog .ui-content
{
    height: 300%;
    position : absolute;
    top      : 50px;
    right    : 0;
    bottom   : 30px;
    left     : 0;
}

div .ui-header 
{
    height : 50px;
}

div .ui-content
{
    background-color: #ed1c24;
    position : absolute;
    top      : 50px;
    right    : 0;
    bottom   : 0;
    left     : 0;
}

.ui-footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 45px;
}

img.foot
{
    width: 3.5em;
    height: 1.5em;
    vertical-align: bottom
}

#test
{
	padding-left: 0
}

#test li div
{
	padding: 5px 20px 5px 0;
}

/* Adjust the width of the left reveal menu. */ <!-- new down -->
#demo-page #left-panel.ui-panel {
    width: 15em;
}
#demo-page #left-panel.ui-panel-closed {
    width: 0;
}
#demo-page .ui-panel-page-content-position-left,
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 15em;
    right: -15em;
}
#demo-page .ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(15em,0,0);
    -moz-transform: translate3d(15em,0,0);
    transform: translate3d(15em,0,0);
}
/* Listview with collapsible list items. */
.ui-listview > li .ui-collapsible-heading {
  margin: 0;
}
.ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
  border-top: none !important;
}
/* Nested list button colors */
.ui-listview .ui-listview .ui-btn {
    background: #fff;
}
.ui-listview .ui-listview .ui-btn:hover {
    background: #f5f5f5;
}
.ui-listview .ui-listview .ui-btn:active {
    background: #f1f1f1;
}
/* Reveal panel shadow on top of the listview menu (only to be used if you don't use fixed toolbars) */
#demo-page .ui-panel-display-reveal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#demo-page .ui-panel-page-content-position-left {
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}
    
.ui-icon-myicon
{
    background-image: url("../images/Menu.png");
    width:30px !important;
    height: 30px !important;
    background-size: 30px 30px !important;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}
.ui-nodisc-icon
{
    width:30px !important;
    height: 30px !important;
    background-size: 30px 30px !important;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

.ui-right-icon
{
    background-image: url("../images/Topup.png");
    width:30px !important;
    height: 30px !important;
    background-size: 30px 30px !important;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

.ui-icon-food
{
    width:60px !important;
    height: 60px !important;
    background-size: 100px 100px !important;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background: #ed1c24;
}

center img.merchant-btn 
{
    height: 4em;
    width: 4em; 
}

center img.voucher-btn 
{
    height: 6em;
    width: 6em; 
}

img.special
{
    height: 5.8em;
    width: 9.5em;
}

img.promo
{
    height: 5.9em;
    width: 9.9em;
}

a img .voucher-btn
{
    margin:0;
    height: 10px;
    width: 5px;
}

div .sport 
{
    background-image: url(../images/background/Sport.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI Light';
}

div .ui-voucher 
{
    background-image: url(../images/background/pizahut.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI Light';
}

.special
{
    position: relative;
    height: 5.8em;
    width: 9.5em;
}

ul
{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
}